<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
            velit.
        </p>
    </header>
    <div style="width: 70%">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
                assumenda?
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p class="block__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
            velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Ullam quia totam at commodi, id voluptatem similique nostrum
            voluptates fuga maiores laudantium nam aliquam possimus provident
            recusandae magni libero ad vitae?
        </p>
        <!--
        - For dark blocks, we will apply the class container to the content of the block and not to the block.
        - Because we want the black background to get stretched into the entire width but content to be constrained.
        -->
    </div>
</section>
