<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <img
            class="icon collapsible__chevron"
            src="Images/chevron.svg"
            alt="An icon for expanding content"
        />
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
        laboriosam voluptatem minus distinctio deleniti a quam sapiente!
        Officia, cum explicabo.
    </div>
</div>
<script src="js/main.js"></script>
<!-- We add this file at the end of the html file so that the rendering of the webpage is done first and quickly and then the js file gets downloaded and executed. -->
