<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
            voluptatibus.
        </p>
    </header>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#easy"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Easy Start & Managed Updates</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                optio, tempore aut unde voluptatum sit. Beatae ab similique
                deleniti neque.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="Images/easy.jpg" alt="" />
        <!-- Here, we can supply different versions of this image for different DPR screens -->
    </article>
    <!-- Here, we have used an article element because the feature component is an independent piece of code. -->

    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#computer"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                optio, tempore aut unde voluptatum sit. Beatae ab similique
                deleniti neque.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="Images/fast.jpg" alt="" />
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <div class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="Images/sprite.svg#settings"></use>
                </svg>
            </div>
            <h3 class="feature__heading">Wordpress Made Easy</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                optio, tempore aut unde voluptatum sit. Beatae ab similique
                deleniti neque.
            </p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="Images/wordpress.jpg" alt="" />
    </article>
</section>

<article class="grid grid--cols-2 feature">
    <div>
        <div class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="Images/sprite.svg#easy"></use>
            </svg>
        </div>
        <h3 class="feature__heading">Easy Start & Managed Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius optio,
            tempore aut unde voluptatum sit. Beatae ab similique deleniti neque.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="Images/easy.jpg" alt="" />
</article>
