<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="Images/sprite.svg#wordpress"></use>
        <!--
        - Using use element we can use a svg defined somewhere else.
        - The href attribute of use element references to an image or symbol element in a sprite.
        - #chevron: is the id of the symbol element in sprite.
        - This id is given based on the name of the file.
        - Here, using use element we are referencing a svg with the id of chevron but that symbol element doesn't exist on this page.
        - So we have to load it first, by referencing our sprite.
        -->
    </svg>
</span>
