<div class="plan plan--popular">
    <div class="card card--secondary">
        <header class="card__header">
            <!-- <img src="Images/popular.svg" alt="Popular Banner" /> -->
            <!--
            - We do not want to everytime insert this image element to make a plan popular.
            - So, we will add this element dynamically before the content of the header of the plan and then make it a separate class.
            - It will be a variation of the plan component having a different skin.
            -->
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% Off</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
            </ul>
            <input
                type="button"
                class="btn btn--outline btn--block"
                value="Buy Now"
            />
        </div>
    </div>
</div>
