<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--cols-2">
        <img
            class="block-showcase__image"
            src="Images/ipad.png"
            alt="Image of an ipad"
        />
        <ul class="list">
            <li>
                <!--
            - Here, we could have used divs to add these media components.
            - But, to make our markup more semantic, we are using ul element.
            - So, we are displaying a list of media component.     
            -->
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            Easy Start & Managed Updates
                        </h3>
                        <p class="media__content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Ipsam, ipsa explicabo tempora praesentium
                            distinctio sunt quaerat sit! Ex sapiente odit alias,
                            eaque officia incidunt. Optio minima sit sunt ad
                            amet.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            Easy Start & Managed Updates
                        </h3>
                        <p class="media__content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Ipsam, ipsa explicabo tempora praesentium
                            distinctio sunt quaerat sit! Ex sapiente odit alias,
                            eaque officia incidunt. Optio minima sit sunt ad
                            amet.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            Easy Start & Managed Updates
                        </h3>
                        <p class="media__content">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Ipsam, ipsa explicabo tempora praesentium
                            distinctio sunt quaerat sit! Ex sapiente odit alias,
                            eaque officia incidunt. Optio minima sit sunt ad
                            amet.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
